<section class="sidebar">
  <div
    class="d-flex flex-column flex-shrink-0 p-3 bg-light shadow"
    style="width: 280px; min-height: 100vh"
  >
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
    >
      <span class="fs-4" id="sidebar-label">Courses</span>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto" id="nav-list">
      <li class="nav-item">
        <a href="/" class="nav-link link-dark" aria-current="page">
          <i class="bi bi-house-door"></i>

          Home
        </a>
      </li>
      <li>
        <a href="/course" class="nav-link link-dark">
          <i class="bi bi-journal-text"></i>
          Courses
        </a>
      </li>
      <li>
        <a href="/students" class="nav-link link-dark">
          <i class="bi bi-people"></i>
          Students
        </a>
      </li>
    </ul>
    <hr />
    <div class="">
      <a
        href="/signIn"
        target="_blank"
        class="link-dark"
      >
        Log out
      </a>
    </div>
  </div>
</section>